<div class="container m-t-2">
  <h1>Food Trucks in San Francisco</h1>
  <input id="pac-input" class="controls" type="text" placeholder="Enter an Address in San Francisco">
  <div id="map"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete"
         async defer></script>
